:root {
  --photos-grid-gap: 1rem;
}

.photos-grid * {
  box-sizing: border-box;
}

.photos-grid *:before,
.photos-grid *:after {
  box-sizing: inherit;
}

.photos-grid {
  display: flex;
  gap: var(--photos-grid-gap);
}

.photos-grid.photos-grid--style-grid {
  flex-wrap: wrap;
}

.photos-grid--style-grid .photos-grid__item {
  display: block;
  position: relative;
  flex: auto;
}

.photos-grid--style-grid .photos-grid__item:last-child {
  flex-grow: 10;
}

.photos-grid--style-grid .photos-grid__item img {
  height: 40vh;
  width: auto;
  min-width: 100%;
  object-fit: cover;
}

/* Tall screens */

@media (max-aspect-ratio: 1/1) {
  .photos-grid--style-grid .photos-grid__item img {
    height: 30vh;
  }
}

/* Short screens */

@media (max-height: 480px) {
  .photos-grid--style-grid .photos-grid__item img {
    height: 80vh;
  }
}

/* Smaller screens in portrait */

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .photos-grid--style-grid {
    flex-direction: row;
  }

  .photos-grid--style-grid .photos-grid__item {
    height: auto;
    width: 100%;
  }
  .photos-grid--style-grid .photos-grid__item img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
    height: auto;
  }
}

/**
Masonry:
**/

.photos-grid.photos-grid--style-masonry {
  display: grid;
  gap: var(--photos-grid-gap);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.photos-grid.photos-grid--visible-desktop {
  display: none;
}

.photos-grid__column {
  display: flex;
  flex-direction: column;
  gap: var(--photos-grid-gap);
}

.photos-grid--style-masonry .photos-grid__item img {
  width: 100%;
  height: auto;
  display: block;
}

@media only screen and (min-width: 576px) {
  .photos-grid.photos-grid--visible-desktop {
    display: grid;
  }

  .photos-grid.photos-grid--visible-mobile {
    display: none;
  }
}

/**
Custom, hard coded (for now), overrides for common themes.
**/

/**
Override max-width of theme "Marfa" #wrapper.
**/
#wrapper:has(> .photos-grid) {
  max-width: 100%;
}
.wrapper:has(> .photos-grid) {
  max-width: 100%;
}
