{{- $masonry_columns_count := .columns }}

{{- $column_indexes := slice -}}
{{- $photos_with_columns := slice -}}

{{ range $photo_index, $photo := .photos }}
  {{- $column_index := mod $photo_index $masonry_columns_count -}}
  {{- $column_indexes = $column_indexes | append $column_index -}}
  {{- $photos_with_columns = $photos_with_columns | append (merge $photo (dict "column_index" $column_index)) -}}
{{ end }}


<div class="photos-grid photos-grid--style-masonry {{ .class }}">
  {{ range $column_index := (uniq $column_indexes) }}
    <div class="photos-grid__column">
      {{ range where $photos_with_columns "column_index" $column_index }}
        <a href="{{ .post_url }}" class="photos-grid__item">
          <img
            src="https://micro.blog/photos/600x/{{ .url }}"
            width="{{ .width }}"
            height="{{ .height }}"
            alt="{{ .alt }}"
            loading="lazy"
          />
        </a>
      {{ end }}
    </div>
  {{ end }}
</div>
